html,
body {
  margin: 0;
  background: radial-gradient(circle,rgb(255, 255, 255) 50%, rgb(174, 187, 221) 90%);
}

#map {
  width: 100vw;
  height: 100vh;
}


#series-slider {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 90vw;
  left: 0;
  right: 0;
  margin: auto;
  filter: drop-shadow(0px 0px 10px #ffffff);
  margin-top: 15px;
}